<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TcpUdpTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TcpUdpTool.Properties.Settings>
            <setting name="Encoding" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="IPv6Support" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HistoryEntries" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="HistoryInfoTimestamp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistoryInfoIpAdress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollToEnd" serializeAs="String">
                <value>True</value>
            </setting>
        </TcpUdpTool.Properties.Settings>
    </userSettings>
</configuration>
